# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/.terraform.lock.hcl

# Node
app/node_modules/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Environment variables
.env
